.product__list__wrapper {
  overflow: auto;
  padding: 15px;
  max-height: 100vh;
  display: block;
}

.product__list__wrapper::-webkit-scrollbar {
  width: 8px;
}

.product__list__wrapper::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.product__list__wrapper::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
}

.product__list__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

@media (max-width: 860px) {
  .product__list__wrapper {
    padding-top: 30px;
  }
}
